body {
  position: absolute;
  height: 99%;
  width: 99%;
  background-image: url("images/the-persistence-of-memory-1931.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  background-image: url("images/maxresdefault.jpg");
  background-size: contain;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}

#seconds {
  position: relative;
  top: 0%;
  left: 50%;
  height: 150px;
  width: 5px;
  background-color: #00FFFF;
  transform-origin: 0% 100%;
  float: left;
}

#minutes {
  position: relative;
  top: 10%;
  left: 50%;
  height: 120px;
  width: 5px;
  background-color: #FF00FF;
  transform-origin: 0% 100%;
}

#hours {
  position: relative;
  top: -20%;
  left: 50%;
  height: 90px;
  width: 5px;
  background-color: #FFFF00;
  transform-origin: 0% 100%;
}
